<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Hello {{findUser.login}}</h1>

    <div>
        <p><strong>Ваші данні - </strong>
            Login: <strong>{{findUser.login}}</strong>,
            Password: <strong>{{findUser.password}}</strong>,
            Age: <strong>{{findUser.age}}</strong>,
            Email: <strong>{{findUser.email}}</strong></p>
    </div>

    <div>
        <h3>Перейти на всіх юзерів - <a href="/users">All users</a></h3>
    </div>

</body>
</html>